@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    background: #6CCDEC;
}

.exel_frame {
    position: absolute;
    left: 32.5%;
    width: 25%;
    top: -300px;
    padding: 3% 5%;
    text-align: center;
    background: #f0f4fa;
    border: 1px solid silver;
    border-radius: 0 0 20px 20px;
    transition: all 0.5s linear;
}

.exel_button {
    border 2px solid silver;
    background: #6CCDEC;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    padding: 2% 5%;
    font-size: 14px;
    transition: all 0.5s linear;
}

.exel_button:hover {
    color: white;
    background: #00AEEF;
}

.exel_input {
    width: 80%;
    padding: 3% 5%;
    border-radius: 20px;
    border: 1px solid silver;
    margin-bottom: 8%;
}

.exel_h {
    font-size: 19px;
}

#krest {
    width: 15px;
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
}


/* header */
.head_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 12% 1% 5%;
    color: #FFF;
    font-size: 19px;
}

.head_container button {
    background: #6CCDEC;
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 20px;
    font-size: 19px;
    padding: 1% 4%;
    transition: all 0.3s linear;
    cursor: pointer;
}

.head_container button:hover {
    background: #00AEEF;
}

.head_container img {
    width: 18%;
}

/* main */

main {
    padding: 1% 5%;
    color: #FFF;
}

.main_container {
    display: flex;
    justify-content: space-between;
}

.img_container {
    width: 75%;
    padding: 0 1%;
    border: 1px solid silver;
    background: #FFF;
    overflow: auto;
    display: flex;
    @media (max-height: 780px) {
        height: 350px;
    };
    @media (min-height: 781px) {
        height: 380px;
    };
    @media (min-height: 871px) {
        height: 420px;
    };
    @media (min-height: 931px) {
        height: 500px;
    };
    @media (min-height: 991px) {
        height: 560px;
    };
}

.img_container img {
    margin-top: 20px;
    max-width: 12%;
    transition: all 3s ease;
    @media (max-height: 780px) {
        max-height: 90%;
        max-width: 12%;
    };
    @media (min-height: 781px) {
        max-height: 85%;
        max-width: 13%;
    };
    @media (min-height: 871px) {
        max-height: 80%;
        max-width: 14%;
    };
    @media (min-height: 931px) {
        max-height: 75%;
        max-width: 15%;
    };
    @media (min-height: 991px) {
        max-height: 70%;
        max-width: 16%;
    };
}

.parameters_container {
    border: 1px solid silver;
    width: 25%;
    padding-left: 2%;
    background: #FFF;
    color: #000;
    font-size: 12px;
    overflow: auto;
    @media (max-height: 780px) {
        height: 350px;
    };
    @media (min-height: 781px) {
        height: 380px;
    };
    @media (min-height: 871px) {
        height: 420px;
    };
    @media (min-height: 931px) {
        height: 500px;
    };
    @media (min-height: 991px) {
        height: 560px;
    };
}

.disabled {
    display: none;
}


/* footer */

footer {
    position: absolute;
    bottom: 15px;
    padding: 1% 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    color: #FFF;
}

.options {
    display: flex;
    flex-direction: column;
}

.options button{
    position: absolute;
    bottom: 0px;
    background: #6CCDEC;
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 20px;
    font-size: 12px;
    padding: 0.5% 1%;
    transition: all 0.3s linear;
}

.options button:hover {
    background: #00AEEF;
}

.select_style {
    background: #C7F1FF;
    border: none;
}

.check{
    font-size: 12px;
}

.price_box {
    padding-left: 10px;
}

.PV,
.P,
.V,
.hide_P,
.hide_V,
.recuperator,
.recyrcling,
.humid,
.reserve{
    opacity: 0;
    transition: opacity 0.5s linear;
}


