@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    background: #6CCDEC;
}

.exel_frame {
    position: absolute;
    left: 25%;
    width: 45%;
    top: -550px;
    padding: 3% 3%;
    background: #f0f4fa;
    border: 1px solid silver;
    border-radius: 0 0 20px 20px;
    transition: all 0.5s linear;
    z-index: 100;
    @media (max-width: 1600px) {
        width: 45%;
    };
    @media (max-width: 1400px) {
        width: 45%;
    };
    @media (max-width: 1200px) {
        width: 45%;
    };
    @media (max-width: 1000px) {
        width: 45%;
    };
    @media (max-width: 900px) {
        width: 45%;
    };
    @media (max-width: 800px) {
        width: 60%;
        left: 18%;
    };
    @media (max-width: 700px) {
        width: 60%;
        left: 18%;
    };
    @media (max-width: 600px) {
        width: 60%;
        left: 18%;
    };
    @media (max-width: 500px) {
        width: 70%;
        left: 12%;
    };
    @media (max-width: 400px) {
        width: 70%;
        left: 12%;
    };
}

.exel_button {
    border: none;
    background: #6CCDEC;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    padding: 1.2% 4%;
    font-size: 17px;
    margin-top: 3%;
    transition: all 0.5s linear;
    @media (max-width: 1600px) {
        padding: 1.2% 4%;
        font-size: 14px;
    };
    @media (max-width: 1400px) {
        padding: 1.2% 3%;
        font-size: 13px;
    };
    @media (max-width: 1200px) {
        padding: 1.2% 3%;
        font-size: 12px;
    };
    @media (max-width: 1100px) {
        padding: 1.2% 3%;
        font-size: 11px;
    };
    @media (max-width: 1000px) {
        padding: 1.2% 2.5%;
    };
    @media (max-width: 900px) {
        padding: 1.2% 2.5%;
        font-size: 10px;
    };
    @media (max-width: 800px) {
        padding: 1.2% 4%;
    };
    @media (max-width: 700px) {
        padding: 1.2% 3%;
    };
    @media (max-width: 600px) {
       padding: 1% 2.5%;
       font-size: 9px;
    };
    @media (max-width: 500px) {
        padding: 1% 2%;
    };
    @media (max-width: 400px) {
        padding: 1% 2.5%;
        font-size: 7px;
    };
    @media (max-width: 300px) {
        padding: 1% 1.5%;
        font-size: 7px;
    };
}

.butts_document {
    display: flex;
    justify-content: space-between;
}

.exel_button:hover {
    color: white;
    background: #00AEEF;
}

#config_button {
    position: relative;
    left: 30%;
}

.exel_input {
    width: 60%;
    padding: 1% 2%;
    border-radius: 10px;
    font-size: 19px;
    border: 1px solid silver;
    @media (max-width: 1600px) {
        font-size: 17px;
    };
    @media (max-width: 1400px) {
        font-size: 16px;
    };
    @media (max-width: 1200px) {
        font-size: 15px;
    };
    @media (max-width: 1000px) {
        font-size: 15px;
    };
    @media (max-width: 900px) {
        font-size: 14px;
    };
    @media (max-width: 800px) {
        font-size: 14px;
    };
    @media (max-width: 700px) {
        font-size: 13px;
    };
    @media (max-width: 600px) {
        font-size: 12px;
    };
    @media (max-width: 500px) {
        font-size: 11px;
    };
    @media (max-width: 400px) {
       font-size: 10px;
    };
    @media (max-width: 300px) {
        width: 55%;
        font-size: 8px;
    };
}

.exel_input:focus {
    background: rgba(108, 205, 236, 0.5);
}

.exel_inputs {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 2%;
    font-size: 19px;
    @media (max-width: 1600px) {
        font-size: 17px;
    };
    @media (max-width: 1400px) {
        font-size: 16px;
    };
    @media (max-width: 1200px) {
        font-size: 15px;
    };
    @media (max-width: 1000px) {
        font-size: 15px;
    };
    @media (max-width: 900px) {
        font-size: 14px;
    };
    @media (max-width: 800px) {
        font-size: 14px;
        margin-top: 1%;
    };
    @media (max-width: 700px) {
        font-size: 13px;
        margin-top: 2%;
    };
    @media (max-width: 600px) {
        font-size: 12px;
        margin-top: 3%;
    };
    @media (max-width: 500px) {
        font-size: 11px;
        margin-top: 5%;
    };
    @media (max-width: 400px) {
       font-size: 10px;
       margin-top: 8%;
    };
    @media (max-width: 300px) {
       font-size: 8px;
       margin-top: 10%;
    };
}

.exel_input_block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
}

#krest {
    width: 15px;
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
}


/* header */
.head_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 12% 1% 5%;
    color: #FFF;
    font-size: 19px;
}

.head_container button {
    background: #6CCDEC;
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 20px;
    font-size: 19px;
    padding: 1% 4%;
    transition: all 0.3s linear;
    cursor: pointer;
}

.head_container button:hover {
    background: #00AEEF;
}

.head_container img {
    width: 80%;
}

/* main */

main {
    padding: 1% 5%;
    color: #FFF;
}

.main_container {
    display: flex;
    justify-content: space-between;
}

.cont {
    position: relative;
    width: 75%;
    border: 1px solid silver;
    background: #FFF;
    z-index: 0;
}

.img_container {
    overflow: auto;
    display: flex;
    padding: 0 1%;
    height: 380px;
    @media (max-width: 1600px) {
        height: 325px;
    };
    @media (max-width: 1500px) {
        height: 320px;
    };
    @media (max-width: 1400px) {
        height: 315px;
    };
    @media (max-width: 1300px) {
        height: 270px;
    };
    @media (max-width: 1200px) {
        height: 260px;
    };
    @media (max-width: 1100px) {
        height: 245px;
    };
    @media (max-width: 1000px) {
        height: 235px;
    };
    @media (max-width: 900px) {
        height: 230px;
    };
    @media (max-width: 800px) {
        height: 220px;
    };
    @media (max-width: 700px) {
        height: 210px;
    };
    @media (max-width: 600px) {
        height: 200px;
    };
    @media (max-width: 500px) {
        height: 190px;
    };
    @media (max-width: 400px) {
        height: 180px;
    };
    @media (max-width: 300px) {
        height: 170px;
    };
}

.img_container img {
    margin-top: 20px;
    max-width: 12%;
    transition: all 3s ease;
    @media (max-height: 780px) {
        max-height: 90%;
        max-width: 12%;
    };
    @media (min-height: 781px) {
        max-height: 85%;
        max-width: 13%;
    };
    @media (min-height: 871px) {
        max-height: 80%;
        max-width: 14%;
    };
    @media (min-height: 931px) {
        max-height: 75%;
        max-width: 15%;
    };
    @media (min-height: 991px) {
        max-height: 70%;
        max-width: 16%;
    };
}

.signals {
    position: absolute;
    font-size: 12px;
    right: 0px;
    bottom: 10px;
    color: black;
    opacity: 0;
    transition: opacity 0.5s linear;
    @media (max-width: 900px) {
        font-size: 10px;
    };
    @media (max-width: 600px) {
        font-size: 8px;
    };
    @media (max-width: 400px) {
        font-size: 7px;
    };
}

.signals ul {
    list-style-type: none;
}

.parameters_container {
    border: 1px solid silver;
    width: 25%;
    height: 380px;
    padding-left: 2%;
    padding-bottom: 2%;
    background: #FFF;
    color: #000;
    font-size: 12px;
    overflow: auto;
    @media (max-width: 1600px) {
        height: 325px;
        font-size: 12px;
    };
    @media (max-width: 1500px) {
        height: 320px;
    };
    @media (max-width: 1400px) {
        height: 315px;
    };
    @media (max-width: 1300px) {
        height: 270px;
    };
    @media (max-width: 1200px) {
        height: 260px;
    };
    @media (max-width: 1100px) {
        height: 245px;
        font-size: 11px;
    };
    @media (max-width: 1000px) {
        height: 235px;
        font-size: 11px;
    };
    @media (max-width: 900px) {
        height: 230px;
    };
    @media (max-width: 800px) {
        height: 220px;
        font-size: 10px;
    };
    @media (max-width: 700px) {
        height: 210px;
        width: 50%;
    };
    @media (max-width: 600px) {
        height: 200px;
        font-size: 8px;
    };
    @media (max-width: 500px) {
        height: 190px;
    };
    @media (max-width: 400px) {
        height: 180px;
        font-size: 7px;
    };
    @media (max-width: 300px) {
        height: 170px;
    };
}

.cabinet_select,
.out_filter_select,
.in_filter_select,
.in_damper_select,
.in_damper_heat_select,
.in_damper_heat_range,
.out_damper_select,
.out_damper_heat_select,
.out_damper_heat_range,
.cool_select,
.heater_type_first,
.first_electrical_select,
.first_water_select,
.first_electrical_range,
.heater_type_second,
.second_water_select,
.second_electrical_select,
.second_electrical_range,
.vent_range_info_in,
.vent_range_info_out {
    @media (max-width: 1600px) {
        font-size: 14px;
    };
    @media (max-width: 1000px) {
        font-size: 12px;
    };
    @media (max-width: 700px) {
        font-size: 10px;
    };
    @media (max-width: 500px) {
        font-size: 8px;
    };
    @media (max-width: 400px) {
        font-size: 7px;
    };
}

.add_signals_block {
    display: flex;
    flex-direction: column;
    padding: 2% 5%;
    width: 40%;
}

.vent_range_info_in,
.vent_range_info_out,
.electrical_first_step_power,
.electrical_second_step_power,
.out_damper_heat_power,
.in_damper_heat_power {
    width: 50%;
    margin: 3% 0;
}

.in_damper_voltage,
.out_damper_voltage,
.heater_type_first,
.electrical_first_steps,
.electrical_first_step_signal,
.heater_type_second,
.electrical_second_steps,
.electrical_second_step_signal {
    margin-bottom: 3%;
}

.in_damper_type,
.out_damper_type {
    width: 70%;
    margin-bottom: 3%;
}

.disabled {
    display: none;
}


/* footer */

footer {
    position: absolute;
    bottom: 15px;
    padding: 1% 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    color: #FFF;
    @media (max-width: 700px) {
        flex-wrap: wrap;
    };
}

.options {
    display: flex;
    flex-direction: column;
    position: relative;
    @media (max-width: 1600px) {
       font-size: 17px;
    };
    @media (max-width: 1400px) {
       font-size: 16px;
    };
    @media (max-width: 1200px) {
        font-size: 12px;
    };
    @media (max-width: 1000px) {
        font-size: 10px;
    };
    @media (max-width: 900px) {
        font-size: 10px;
    };
    @media (max-width: 700px) {
        font-size: 8px;
    };
    @media (max-width: 500px) {
        margin-bottom: 3%;
    };
}

.options button{
    position: absolute;
    bottom: -15px;
    background: #6CCDEC;
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 20px;
    font-size: 12px;
    padding: 5% 7%;
    transition: all 0.3s linear;
    @media (max-width: 1600px) {
       font-size: 12px;
    };
    @media (max-width: 1400px) {
       font-size: 11px;
    };
    @media (max-width: 1200px) {
        font-size: 10px;
    };
    @media (max-width: 1000px) {
        font-size: 9px;
    };
    @media (max-width: 900px) {
        font-size: 8px;
    };
    @media (max-width: 900px) {
        font-size: 7px;
    };
}

.options button:hover {
    background: #00AEEF;
}


.select_style {
    background: #C7F1FF;
    border: none;
    @media (max-width: 1600px) {
       font-size: 14px;
    };
    @media (max-width: 1400px) {
       font-size: 13px;
    };
    @media (max-width: 1200px) {
        font-size: 12px;
    };
    @media (max-width: 1000px) {
        font-size: 11px;
    };
    @media (max-width: 900px) {
        font-size: 8px;
    };
}

.check{
    font-size: 12px;
    @media (max-width: 1600px) {
       font-size: 12px;
    };
    @media (max-width: 1400px) {
       font-size: 11px;
    };
    @media (max-width: 1200px) {
        font-size: 10px;
    };
    @media (max-width: 1000px) {
        font-size: 9px;
    };
    @media (max-width: 900px) {
        font-size: 8px;
    };
}

.price_box {
    padding-left: 10px;
    @media (max-width: 1600px) {
       font-size: 19px;
    };
    @media (max-width: 1400px) {
       font-size: 17px;
    };
    @media (max-width: 1200px) {
        font-size: 14px;
    };
    @media (max-width: 1000px) {
        font-size: 13px;
    };
    @media (max-width: 900px) {
        font-size: 12px;
    };
}

.PV,
.P,
.V,
.hide_P,
.hide_V,
.recuperator,
.recyrcling,
.humid,
.reserve{
    opacity: 0;
    transition: opacity 0.5s linear;
}

/* systemconfig */

#systemConfig {
    display: none;
}

.modal {
    background: #6CCDEC;
    width: 20%;
    text-align: center;
    border: 1px solid silver;
    border-radius: 10px;
    position: absolute;
    top: 10%;
    left: 40%;
    color: white;
    z-index: 500;
    transition: all 0.8s linear;
    opacity: 0;
    pointer-events: none;
}

.rowband {
    position: absolute;
    left: 5.5%;
    font-size: 19px;
    cursor: pointer;
    transition: all 0.5s linear;
}

.rowband a {
    text-decoration: none;
    color: white;
}

.rowband span{
    font-weight: 900;
}

.rowband:hover{
    font-size: 20px;
}
