@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    background: #6CCDEC;
}
/* header */
.head_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 12% 1% 5%;
    color: #FFF;
    font-size: 19px;
}

.head_container button {
    background: #6CCDEC;
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 20px;
    font-size: 19px;
    padding: 1% 4%;
    transition: all 0.3s linear;
}

.head_container button:hover {
    background: #00AEEF;
}

.head_container img {
    width: 18%;
}

/* main */

main {
    padding: 1% 5%;
    color: #FFF;
}

.main_container {
    display: flex;
    justify-content: space-between;
}

.img_container {
    width: 75%;
    padding: 0 1%;
    border: 1px solid silver;
    background: #FFF;
    height: 350px;
    overflow: auto;
    display: flex;
}

.img_container img {
    max-width: 12%;
}

.parameters_container {
    border: 1px solid silver;
    width: 25%;
    padding-left: 2%;
    background: #FFF;
    height: 350px;
    color: #000;
    font-size: 12px;
    overflow: auto;
}

.disabled {
    display: none;
}


/* footer */

footer {
    position: absolute;
    bottom: 15px;
    padding: 1% 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    color: #FFF;
}

.options {
    display: flex;
    flex-direction: column;
}

.options button{
    position: absolute;
    bottom: 0px;
    background: #6CCDEC;
    color: #FFF;
    border: 1px solid #FFF;
    border-radius: 20px;
    font-size: 12px;
    padding: 0.5% 1%;
    transition: all 0.3s linear;
}

.options button:hover {
    background: #00AEEF;
}

.select_style {
    background: #C7F1FF;
    border: none;
}

.check{
    font-size: 12px;
}

.price_box {
    padding-left: 10px;
}

.PV,
.P,
.V,
.hide_P,
.hide_V,
.recuperator,
.recyrcling{
    opacity: 0;
    transition: opacity 0.5s linear;
}


