@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    background: #6CCDEC;
    padding: 2% 3%;
}

.tables_hrefs_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tables_hrefs_container span{
    background: white;
    width: 30%;
    padding: 0.5% 1%;
    margin-bottom: 2%;
    border-radius: 20px;
    border: 1px solid silver;
    @media (max-width: 1600px) {
        font-size: 17px;
    };
    @media (max-width: 1000px) {
        font-size: 14px;
    };
    @media (max-width: 800px) {
        font-size: 13px;
    };
    @media (max-width: 600px) {
        font-size: 12px;
    };
    @media (max-width: 400px) {
        font-size: 10px;
    };
}

.admin_head {
    color: white;
    text-align: center;
    @media (max-width: 1600px) {
        font-size: 27px;
    };
    @media (max-width: 1000px) {
        font-size: 24px;
    };
    @media (max-width: 800px) {
        font-size: 21px;
    };
    @media (max-width: 600px) {
        font-size: 19px;
    };
    @media (max-width: 400px) {
        font-size: 17px;
    };
}

.tables_button {
    background: #6CCDEC;
    text-decoration: none;
    color: #FFF;
    padding: 0.5% 1%;
    border: 1px solid #FFF;
    border-radius: 15px;
    font-size: 14px;
    margin-bottom: 2%;
    transition: all 0.3s linear;
    cursor: pointer;
    @media (max-width: 1600px) {
        font-size: 17px;
        padding: 0.5% 1%;
    };
    @media (max-width: 1000px) {
        font-size: 14px;
        padding: 0.6% 1.5%;
    };
    @media (max-width: 800px) {
        font-size: 13px;
        padding: 0.75% 2%;
    };
    @media (max-width: 600px) {
        font-size: 12px;
        padding: 1% 2.5%;
    };
    @media (max-width: 400px) {
        font-size: 11px;
        padding: 1% 3%;
    };
}

.tables_button:hover {
    background: #00AEEF;
}

.table_detail_h {
    color: white;
    text-align: center;
    @media (max-width: 1600px) {
        font-size: 27px;
    };
    @media (max-width: 1000px) {
        font-size: 24px;
    };
    @media (max-width: 800px) {
        font-size: 21px;
    };
    @media (max-width: 600px) {
        font-size: 19px;
    };
    @media (max-width: 400px) {
        font-size: 17px;
    };
}

.table_detail_container {
    padding: 2% 0;
}

.table_detail_row {
    color: white;
    font-size: 21px;
    display: grid;
    grid-template-columns: repeat(8, 170px);
    @media (max-width: 1600px) {
        font-size: 19px;
        grid-template-columns: repeat(8, 170px);
    };
    @media (max-width: 1400px) {
        font-size: 19px;
        grid-template-columns: repeat(8, 140px);
    };
    @media (max-width: 1200px) {
        font-size: 17px;
        grid-template-columns: repeat(8, 120px);
    };
    @media (max-width: 1000px) {
        font-size: 17px;
        grid-template-columns: repeat(8, 90px);
    };
    @media (max-width: 800px) {
        font-size: 14px;
        grid-template-columns: repeat(8, 70px);
    };
    @media (max-width: 600px) {
        font-size: 12px;
        grid-template-columns: repeat(8, 50px);
    };
    @media (max-width: 400px) {
        font-size: 10px;
        grid-template-columns: repeat(8, 35px);
    };
}

.table_detail_row span {
    margin-bottom: 5%;
}

.table_detail_row input {
    background: white;
    border: 1px solid silver;
    border-radius: 15px;
    padding: 1% 5%;
    @media (max-width: 1600px) {
        width: 80%;
        font-size: 14px;
    };
    @media (max-width: 1000px) {
        width: 80%;
        font-size: 12px;
    };
    @media (max-width: 800px) {
        width: 80%;
        font-size: 10px;
    };
    @media (max-width: 600px) {
        width: 80%;
        font-size: 8px;
    };
    @media (max-width: 400px) {
        width: 80%;
        font-size: 7px;
    };
}
