<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/main_style.css">
    <title>Altair</title>
</head>
<body>
    <header>
        <div class="head_container">
            <a href="{{ url_for ('logout') }}"><img src="static/image/image1.png" alt="logo"></a>
        </div>
    </header>
    <main>
        <div class="project_frame">
            <img src="/static/image/krest.png" id="krest">
            <form id="project_form" method="post">
                <div class="project_inputs">
                    <div class="project_input_block">
                        <label for="tcp_number">Номер ТКП</label>
                        <input type="text"  class="tcp_number project_input" id="tcp_number" name="tcp_number">
                    </div>
                    <div class="project_input_block">
                        <label for="company_name">Название компании</label>
                        <input type="text" class="company_name project_input" id="company_name" name="company_name">
                    </div>
                    <div class="project_input_block">
                        <label for="company_object">Объект</label>
                        <input type="text" class="company_object project_input" id="company_object" name="company_object">
                    </div>
                    <div class="project_input_block">
                        <label for="customer">Заказчик</label>
                        <input type="text" class="customer project_input" id="customer" name="customer">
                    </div>
                    <div class="project_input_block">
                        <label for="executor">Исполнитель</label>
                        <input type="text" class="executor project_input" id="executor" name="executor">
                    </div>
                </div>
                <button class="project_button" type="submit">Добавить</button>
            </form>
        </div>
        <div class="right_side">
            <h2>Проекты</h2>
            <div class="system_list_container">
                <div class="system_list_row_1">
                    <div class="system_list_row">
                        <span class="system_list_block">№</span>
                        <span class="system_list_block">№ ТКП</span>
                        <span class="system_list_block">Название организации</span>
                        <span class="system_list_block">Объект</span>
                    </div>
                    <div class="price_row">
                        <span class="system_list_block">Дата</span>
                        <span class="system_list_block">Статус</span>
                        <span class="system_list_block">Стоимость</span>
                    </div>
                </div>
                {% for dat in data %}
                <div class="system_list_row_1">
                    <a href="{{ url_for ('systems', tcp_id=dat[0], tcp_number=dat[1]) }}" class="system_list_row system_list_link">
                        <span class="system_list_block sys_id">{{ dat[0] }}</span>
                        <span class="system_list_block">{{ dat[1] }}</span>
                        <span class="system_list_block">{{ dat[3] }}</span>
                        <span class="system_list_block">{{ dat[2] }}</span>
                    </a>
                    <div class="price_row">
                        <span class="system_list_block">{{ dat[6] }}</span>
                        <select class="system_list_block status_select">
                            <option value="1">В работе</option>
                            <option value="2">Завершен</option>
                            <option value="3">Оплачен</option>
                            <option value="4">На удаление</option>
                        </select>
                        <span class="hide_status">{{ dat[7] }}</span>
                        <span class="system_list_block">{{ dat[8] }} руб.</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="left_side">
            <div class="butt_cont">
                <button class="update_button config_button">Сохранить</button>
            </div>
            <div class="butt_cont">
                <a class="config_button" id="config_button">Добавить ТКП</a>
            </div>
        </div>
        {% if user == 'admin' %}
            <div class="admin_block">
                <a href="{{ url_for ('tables') }}" class="admin_button">Админ панель</a>
            </div>
        {% endif %}
    </main>
<script src="/static/tcp.js"></script>
</body>
</html>