<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/style.css">
    <title>Altair</title>
</head>
<body>
    <header>
        <div class="head_container">
            <img src="static/image/image1.png" alt="logo">
            <span>Система</span>
            <span>Схема</span>
            <span>Подключение</span>
            <button>Расчет</button>
        </div>
    </header>
    <main>
        <h1>Конфигуратор системы вентиляции</h1>
        <div class="img_container"></div>
    </main>
    <footer>
        <div class="type options">
            <h4>Тип системы</h4>
            <div class="check radio">
            <input type="radio" id="in_out" name="type_radio" value="In_out">
            <label for="in_out">Приточно-вытяжная</label>
            </div>
            <div class="check radio">
            <input type="radio" id="in" name="type_radio" value="In">
            <label for="in">Приточная</label>
            </div>
            <div class="check radio">
            <input type="radio" id="out" name="type_radio" value="Out">
            <label for="out">Вытяжная</label>
            </div>
        </div>
        <div class="ventilators options PV P V">
            <h4>Вентиляторы</h4>
            <button>Настройка</button>
        </div>
        <div class="heater options PV P">
            <h4>Нагреватель</h4>
            <select class="select select_style" disabled>
                <option value="false">Нет</option>
                <option value="true">Да</option>
            </select>
            <button>Настройка</button>
        </div>
        <div class="cooler options PV P">
            <h4>Охладитель</h4>
            <select class="select select_style" disabled>
                <option value="false">Нет</option>
                <option value="true">Да</option>
            </select>
            <button>Настройка</button>
        </div>
        <div class="humid options PV P">
            <h4>Увлажнитель</h4>
            <select class="select select_style" disabled>
                <option value="false">Нет</option>
                <option value="true">Да</option>
            </select>
            <button>Настройка</button>
        </div>
        <div class="recuperator options">
            <h4>Рекуператор</h4>
            <select class="select_style" disabled>
                <option value="false">Нет</option>
                <option value=true">Да</option>
            </select>
            <button>Настройка</button>
        </div>
        <div class="recyrcling options">
            <h4>Рециркуляция</h4>
            <select class="select_style" disabled>
                <option value="false">Нет</option>
                <option value="true">Да</option>
            </select>
            <button>Настройка</button>
        </div>
        <div class="damper options PV P V">
            <h4>Заслонки</h4>
            <div class="check hide_V">
            <input type="checkbox" id="damp_in">
            <label for="damp_in">Приточная</label>
            </div>
            <div class="check hide_P">
            <input type="checkbox" id="damp_out">
            <label for="damp_out">Вытяжная</label>
            </div>
            <button>Настройка</button>
        </div>
        <div class="filters options PV P V">
            <h4>Фильтры</h4>
            <div class="check hide_V">
            <input type="checkbox" id="filt_in">
            <label for="filt_in">Приточная</label>
            </div>
            <div class="check hide_P">
            <input type="checkbox" id="filt_out">
            <label for="filt_out">Вытяжная</label>
            </div>
            <button>Настройка</button>
        </div>
        <div class="reserve options PV P V">
            <h4>Резерв</h4>
            <div class="check hide_V">
            <input type="checkbox" id="res_in">
            <label for="res_in">Приточная</label>
            </div>
            <div class="check hide_P">
            <input type="checkbox" id="res_out">
            <label for="res_out">Вытяжная</label>
            </div>
            <button>Настройка</button>
        </div>
        <div class="params options PV P V">
            <h4>Параметры</h4>
            <button>Настройка</button>
        </div>
        <div class="price_box">
            <h4>Цена: </h4>
            <p id="price"></p>
        </div>
    </footer>
<script src="static/main.js"></script>
</body>
</html>